div {
  margin: 2.5em;
}

h1 {
  font-weight: 500;
}

h3 {
  color: red;
  font-weight: 500;
}

.spacer {
  margin: 1em;
}

p {
  font-weight: bold;
}

.codeWrapper {
  margin: 0;
  border: solid;
  padding: 1em;
  background-color: whitesmoke;
}
